<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-4">
      <h1><%= @portfolio_item.title %></h1>

      <hr>

      <p><%= @portfolio_item.body %></p>

      <hr>

      <% if @portfolio_item.website.nil? || @portfolio_item.website.empty? %>
        <strong></strong>
      <% else %>
        <strong>website_demo: <%= link_to @portfolio_item.title, @portfolio_item.website, target: :_blank %></strong>
        <br>
      <% end %>

      <strong>code_repo: <%= link_to "GitHub", @portfolio_item.github, target: :_blank %> </strong>

      <hr>

      <h6><strong>Technologies used:</strong></h6>
      <% @portfolio_item.technologies.each do |t| %>
      <!-- <p class="line-space"><%= t.name %></p> -->
      <ul class="padding-left">
        <li class="line-space padding-left"><%= t.name %>
      </ul>

      <% end %>

      <% if logged_in?(:site_admin) %>
      <div>
        <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
